*.jpg
*.jpeg
*.json
!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.json
!frontend/tsconfig.app.json
!frontend/tsconfig.node.json
*.pyc
*.xlsx
*.ipynb
*.pyc
*.out
GradCAM.py
.env

img/
label/
vis/
checkpoint/
dataset/
.vscode/
__MACOSX/
tensorboard/
__pycache__/
docker/
.env/
prediction/
checkpoint_all/
checkpoint_F/
checkpoint_transformer/
eval/
class/
save_img/
pytorch_grad_cam/

IEC_korea_data
cam_output
cam.py

wandb

NIA.tar
checkpoint.zip
node_modules/
